@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.Toastify__toast--success {
  background: #c2ece8 !important;
}

.Toastify__toast--error {
  background: #ffa700 !important;
}

html,
body {
  margin: 0;
  padding: 0;
}
